.loginForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 65px;
  height: 65px;
  color: var(--color-gray-50);
}

.loginForm__title {
  font-size: var(--font-size-display-large); 
  font-weight: 500;
  margin: 30px 0;  
  margin-top: 10px;
} 

.emailInput {
  background-color: var(--primary-btn-bg-color);
  color: var(--color-gray-50);
  
  width: 250px;
  height: 35px;
  padding: 0 15px; 
  
  margin-bottom: 10px;
  font-size: 14px; 
  
  box-sizing: border-box; 
  border-radius: 8px;
  border: none;
  outline: none;
}

.emailInput::placeholder {
  color: var(--color-gray-50);
  opacity: 0.7;
}

.secondary_button {
  background-color: var(--primary-btn-bg-color);
  color: var(--color-gray-50);
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.secondary_button.enabled {
  background-color: var(--primary-brand-color);
  cursor: pointer;
}

.secondary_button.enabled:hover {
  background-color: #7274eb;
}

.secondary_button.disabled {
  background-color: var(--primary-btn-bg-color);
  cursor: not-allowed;
  opacity: 0.7;
}

.continue:hover {
  background-color: #585858;
}

.or {
  font-size: var(--font-size-body-small);
  color: var(--color-gray-100);
  margin: 20px;
}
  
.google:hover {
  background-color: #585858;
}

.googleIcon {
  width: 15px;
  height: 15px;
  padding-right: 10px;
  vertical-align: middle;
}

.terms {
  font-size: 12px;
  color: var(--color-gray-200);
  margin: 30px;
  width: 400px;
  text-align: center;
}

.termsLink {
  color: var(--color-gray-100);
  text-decoration: underline;
}