.mobileMessage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-500);
  color: var(--color-gray-50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  z-index: 9999;
}

.mobileMessage h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mobileMessage p {
  font-size: 1rem;
  color: var(--color-gray-200);
  margin-bottom: 0.5rem;
}
