html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

.landingPage {
  background: linear-gradient(145deg, #EAEAEB 2%, #F7F6F5 40%);
  color: black;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  max-width: 1200px;
  margin: 0;
  padding: 36px 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tag {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.875rem;
  color: var(--color-gray-900);
  opacity: 0.7;
} 

.tagIcon {
  font-size: 1rem;
}

.hero {
  text-align: left;
  margin-top: 80px;
  max-width: 800px;
  margin-left: 0;
  padding-left: 0;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 600;
  box-sizing: border-box;
  margin: 8px 0px 5px 0px;
  white-space: nowrap;
  width: 100%;
  color: black;
}

.hero h2 {
  font-size: 24px;
  color: var(--color-gray-900);
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero p {
  font-size: 16px;
  opacity: 0.7;
  color: var(--color-gray-900);
  max-width: 500px;
  margin: 0;
  line-height: 1.5;
  margin-bottom: 28px;
  text-align: left;
}

.heroButtons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.tryButton {
  background: none;
  border: 1px solid var(--divider-color);
  border-radius: 20px;
  height: 40px;
  width: 170px;
  color: black;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  padding-left: 28px;
  white-space: nowrap;
}

.tryButton i {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px;
  font-size: 10px;
}

.tryButton:hover {
  background: #E6E6E6;
}

.watchButton {
  background: transparent;
  border: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}